* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

body {
    height: 100%;
    width: 100%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-size: 50px;
    background-color: transparent;
    font-weight: normal;
    margin-bottom: 50px;
}

header a {
    background-color: transparent;
    color: aquamarine;
    font-size: 16px;
}

.catchphrase {
    font-size: 42px;
    font-weight: 300;
    margin-top: 50px;
}

.desc {
    font-size: 21px;
    color: gray;
    margin-top: 30px;
}

.img {
    margin-top: 20px;
}

.phone-icon {
    margin-top: 30px;
}

.announcement {
    font-size: 42px;
    margin-top: 40px;
}

.link {
    margin-top: 50px;
}

.link .bottom-link {
    color: aquamarine;
}

footer {
    height: 40px;
}

footer p {
    text-align: right;
    color: gray;
    margin-top: 20px;
    margin-right: 10px;
}